<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/89495ba4f7.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>

<body>

    <header>
        <div class="container_logo">
                <img class="logo" src="images/logo-mercado-liebre.svg" alt="logo mercado liebre">
            <div class="barraDeBusqueda">
                <input class="input_header" type="text" name="busquedaDeProducto" placeholder="Buscar productos, marcas">
                <div class="container_icono">
                    <i class="fas fa-search icono_buscar"></i>
                </div>
            </div>
            <div class="subtitulo">
                <div class="icono_subititulo">
                    <i class="fas fa-hand-holding-usd"></i>
                </div>
                <h3 class="header_h3">Comprá en cuotas y sin tarjeta de crédito</h3>
            </div>
        </div>

        <div class="container_nav">
            <nav class="header_nav">
                <ul class="ul_header">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="header_nav">
                <ul class="ul_header">
                    <li><a href="#">Creá tu cuenta<i class="far fa-id-card icono_login"></i></a></li>
                    <li><a href="inicio">Ingresá<i class="fas fa-sign-in-alt icono_login"></i> </a></li>
                    <li><a href="">Mis compras<i class="fas fa-shopping-basket icono_login"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="menu">
            <button class="container_boton">
                <i class="fa-solid fa-bars menu_boton"></i>
            </button>
        </div>
    </header>

   <section class="container_section-form">
    <h4>Formulario Registro</h4>
    <input class="input_form" type="text" name="nombres" id="nombres" placeholder="Ingresa tu Nombre">
    <input class="input_form" type="text" name="apellido" id="apellido" placeholder="Ingresa tu Apellido">
    <input class="input_form" type="email" name="correo" id="correo" placeholder="Ingresa tu Correo">
    <input class="input_form" type="password" name="nombres" id="nombres" placeholder="Ingresa tu Contraseña">
    <p>Estoy de acuerdo con <a href="#"> Terminos y Condiciones</a></p>
    <input class="input_button" type="submit" value="Registrar">
    <p><a href="inicio">¿Ya Tienes Cuenta?</a></p>
    </section> 

    <footer>
        <section class="contenedor_footer">
            <article class="articulo_footer">
                <i class="fa-solid fa-credit-card fa-xl icono_footer"></i>
                <h3 class="subtitulo_footer">Pagá con tarjeta o en efectivo</h3>
                <p class="descripcion_footer">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago ¡Y siempre es
                    seguro!</p>
            </article>
            <article class="articulo_footer">
                <i class="fa-solid fa-gift fa-xl icono_footer"></i>
                <h3 class="subtitulo_footer">Envio gratis desde los $2.500</h3>
                <p class="descripcion_footer">Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles
                    de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </article>
            <article class="articulo_footer">
                <i class="fa-solid fa-user-shield fa-xl icono_footer"></i>
                <h3 class="subtitulo_footer">Seguridad de principio a fin</h3>
                <p class="descripcion_footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas
                    hacer porque estás siempre
                    protegid@.</p>
            </article>
            <p class="copyright">Copyright © 1999-2023 <a href="/" class="copy">MercadoLiebre</a> S.R.L</p>
        </section>
    </footer>
    
</body>

</html>