<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/89495ba4f7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>

    <header>
        <div class="container_logo">
            <img class="logo" src="images/logo-mercado-liebre.svg" alt="logo mercado liebre">
            <div class="barraDeBusqueda">
                    <input class="input_header" type="text" name="busquedaDeProducto" placeholder="Buscar productos, marcas">
                    <i class="fas fa-search icono_buscar"></i>   
            </div>
        </div>
        <div class="subtitulo">
            <div class="icono_subititulo">
                <i class="fas fa-hand-holding-usd"></i>
            </div>
            <h3 class="header_h3">Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
        <div class="container_header_secundario">
            <div class="container_logo_secundario">
                <img class="logo" src="images/logo-mercado-liebre.svg" alt="logo mercado liebre">
                <div class="barraDeBusqueda">
                        <input class="input_header" type="text" name="busquedaDeProducto" placeholder="Buscar productos, marcas">
                        <i class="fas fa-search icono_buscar"></i>   
                </div>
            </div>
            <div class="subtitulo_secundario">
                <div class="icono_subititulo">
                    <i class="fas fa-hand-holding-usd"></i>
                </div>
                <h3 class="header_h3">Comprá en cuotas y sin tarjeta de crédito</h3>
            </div>
        </div>

        <div class="container_nav">
            <nav class="header_nav">
                <ul class="ul_header">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="header_nav">
                <ul class="ul_header">
                    <li><a href="#">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                    <li><a href="inicio.html">Ingresá<i class="fas fa-sign-in-alt"></i> </a></li>
                    <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        </div>
        <button class="menu">
            <i class="fa-solid fa-bars fa-lg"></i>
        </button>
    </header>

   <section class="container_section-form">
    <h4>Formulario Registro</h4>
    <input class="input_form" type="text" name="nombres" id="nombres" placeholder="Ingresa tu Nombre">
    <input class="input_form" type="text" name="apellido" id="apellido" placeholder="Ingresa tu Apellido">
    <input class="input_form" type="email" name="correo" id="correo" placeholder="Ingresa tu Correo">
    <input class="input_form" type="password" name="nombres" id="nombres" placeholder="Ingresa tu Contraseña">
    <p>Estoy de acuerdo con <a href="#"> Terminos y Condiciones</a></p>
    <input class="input_button" type="submit" value="Registrar">
    <p><a href="inicio.html">¿Ya Tienes Cuenta?</a></p>
</section> 
    
</body>
</html>