/* header */

.container_logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo {
    width: 250px;
    height: 150px;
    padding: 15px;
}

.input_header {
    padding: 11px 9px;
    margin: auto;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
}
.icono_login{
    margin-left: 5px ;
    color: var(--colorCeleste);
}

.barraDeBusqueda {
    position: relative;
    display: flex;
    width: 50%;
}

.container_icono {
    position: absolute;
    right: 0px;
    bottom: 6px;
    margin: 0px 10px 0px 0px;
}

.icono_buscar {
    font-size: 15px;
    color: var(--colorGrisOscuro);
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.menu{
    text-align: center;
}

.container_boton{
    background: var(--colorCeleste);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.subtitulo_main {
    color: var(--colorGrisOscuro);
    text-align: center;
    padding: 20px;
}

.form_menu {
    padding-right: 10px;
}

.banner {
    width: 100%;
}

.subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_h3 {
    color: var(--colorGrisOscuro);
    margin: 10px 10px;
    font-size: 14px;
}

.header_nav {
    padding: 10px 0px 0px 0px;
}

header nav ul {
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: var(--colorGrisOscuro);
    font-size: 16px;
}

header nav ul li {
    display: inline-block;
    padding: 5px;
    font-size: 14px;
}

/* main */

.articulo_main {
    width: 300px;
    height: 420px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    border-radius: 5px;
    position: relative;
}

.imagenes {
    width: 100%;
    border-radius: 5px;
    /* object-fit: cover; */
}

.contenedor_main-descripcion {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 30px 0px 10px 20px;
}

.precios {
    font-size: 18px;
    color: black;
}

.descuentos {
    font-size: 16px;
}

.descripcion_main {
    font-size: 16px;
    font-weight: 500;
    color: var(--colorGrisOscuro);
    padding: 0px 0px 0px 20px;
}

.icono_main {
    position: absolute;
    color: var(--colorVerde);
    right: 25px;
    bottom: 100px;
}

.icono_truck {
    border: 1px solid var(--colorVerde);
    padding: 15px 5px;
    border-radius: 50%;
    left: 260px;
    bottom: 20px;
}


/* footer */

.contenedor_footer {
    margin: 0px 5px;
    text-align: center;
}

.articulo_footer {
    padding: 20px;
}

h3.subtitulo_footer {
    color: var(--colorGrisOscuro);
    font-size: 24px;
    text-align: center;
    padding: 10px;
}

.descripcion_footer {
    font-size: 12px;
    color: black;
    text-align: center;
}

.icono_footer{
    color: var(--colorCeleste);
    font: 14px;
}

.copyright {
    color: var(--colorGrisOscuro);
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
}
.copy{
    color: var(--colorCeleste);
}

/* media querys */

/* mobile */
@media (min-width: 375px) {
    header nav.header_nav ul {
        display: none;
    }

    .container_logo {
        display: flex;
        margin: 0px 8px 0px 8px;
        justify-content: space-between;
    }

    .logo {
        width: 50%;
        height: 100px;
        /* padding: 15px; */
    }

    .banner {
        height: 110px;
    }

    .subtitulo {
        display: none;
    }
    .articulo_main{
        width: 80%;
    }
}

/* tablet */

@media (min-width: 768px) {
    .header_h3 {
        display: flex;
    }

    header nav.header_nav ul {
        display: block;
    }

    .container_nav {
        display: flex;
        margin: 0px 30px 0px 30px;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    .menu {
        display: none;
    }

    .visitas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ofertas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .visitas{
        display: flex;
        gap: 40px;
        
    }

}

/* desktop */

@media (min-width: 1024px) {
    .container_logo {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .logo {
        width: 250px;
        height: 150px;
        padding: 15px;
    }

    .home_header_nav ul {
        display: block;
    }

    .menu {
        display: none;
    }

    .subtitulo {
        display: flex;
        width: 300px;
    }
    .banner {
        height: 250px;
    }

    .articulo_main {
        width: 280px;
        height: 400px;
    }

    .descripcion_main {
        font-size: 16px;
        color: var(--colorGrisOscuro);
        padding-top: 25px;
    }

}