<!DOCTYPE html>
<html lang="en">

<%-include('partials/head') %>

    <body>
        <%-include('partials/header') %>


            <main>
                <div class="contenedor_banner">
                    <img class="banner" src="images/banner.jpeg" alt="banner">
                </div>

                <h2 class="subtitulo_main">Basado en tu última visita</h2>

                <section class="visitas">
                    <article class="articulo_main">
                        <img class="imagenes" src="images/cafetera.jpeg" alt="imagen de la cafetera">
                        <div class="icono_main">
                            <i class="fa-solid fa-truck fa-lg icono_truck"></i>
                        </div>
                        <div class="contenedor_main-descripcion">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                        <h3 class="descripcion_main">Cafetera Moulinex</h3>
                    </article>

                    <article class="articulo_main">
                        <img class="imagenes" src="images/computadora.jpeg" alt="imagen de una MacBook">
                        <div class="icono_main">
                            <i class="fa-solid fa-truck fa-lg icono_truck"></i>
                        </div>
                        <div class="contenedor_main-descripcion">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                        </div>
                        <h3 class="descripcion_main">MacBook Pro 2019</h3>
                    </article>

                    <article class="articulo_main">
                        <img class="imagenes" src="images/celular.jpeg" alt="imagen de Samsung Galaxy">
                        <div class="icono_main">
                            <i class="fa-solid fa-truck fa-lg icono_truck"></i>
                        </div>
                        <div class="contenedor_main-descripcion">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                        </div>
                        <h3 class="descripcion_main">Samsung Galaxy S10</h3>
                    </article>

                    <article class="articulo_main">
                        <img class="imagenes" src="images/televisor.jpeg" alt="imagen de Smart TV">
                        <div class="icono_main">
                            <i class="fa-solid fa-truck fa-lg icono_truck"></i>
                        </div>
                        <div class="contenedor_main-descripcion">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% OFF</p>
                        </div>
                        <h3 class="descripcion_main">SmartTv Samsung 43"</h3>
                    </article>
                </section>

                <h2 class="subtitulo_main">Sección de Ofertas</h2>

                <section class="ofertas">
                    <article class="articulo_main">
                        <img class="imagenes" src="images/cafetera.jpeg" alt="imagen de la cafetera">
                        <div class="icono_main">
                            <i class="fa-solid fa-truck fa-lg icono_truck"></i>
                        </div>
                        <div class="contenedor_main-descripcion">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                        <h3 class="descripcion_main">Cafetera Moulinex</h3>
                    </article>

                    <article class="articulo_main">
                        <img class="imagenes" src="images/computadora.jpeg" alt="imagen de una MacBook">
                        <div class="icono_main">
                            <i class="fa-solid fa-truck fa-lg icono_truck"></i>
                        </div>
                        <div class="contenedor_main-descripcion">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                        </div>
                        <h3 class="descripcion_main">MacBook Pro 2019</h3>
                    </article>

                    <article class="articulo_main">
                        <img class="imagenes" src="images/celular.jpeg" alt="imagen de Samsung Galaxy">
                        <div class="icono_main">
                            <i class="fa-solid fa-truck fa-lg icono_truck"></i>
                        </div>
                        <div class="contenedor_main-descripcion">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                        </div>
                        <h3 class="descripcion_main">Samsung Galaxy S10</h3>
                    </article>

                    <article class="articulo_main">
                        <img class="imagenes" src="images/televisor.jpeg" alt="imagen de Smart TV">
                        <div class="icono_main">
                            <i class="fa-solid fa-truck fa-lg icono_truck"></i>
                        </div>
                        <div class="contenedor_main-descripcion">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% OFF</p>
                        </div>
                        <h3 class="descripcion_main">SmartTv Samsung 43"</h3>
                    </article>

                </section>
            </main>

            <%-include('partials/footer') %>
    </body>

</html>