<!DOCTYPE html>
<html lang="en">

<%-include('partials/head') %>

    <body>

        <%-include('partials/header') %>

            <section class="container_section-form">
                <h4>Formulario Registro</h4>
                <input class="input_form" type="text" name="nombres" id="nombres" placeholder="Ingresa tu Nombre">
                <input class="input_form" type="text" name="apellido" id="apellido" placeholder="Ingresa tu Apellido">
                <input class="input_form" type="email" name="correo" id="correo" placeholder="Ingresa tu Correo">
                <input class="input_form" type="password" name="nombres" id="nombres"
                    placeholder="Ingresa tu Contraseña">
                <p>Estoy de acuerdo con <a href="#"> Terminos y Condiciones</a></p>
                <input class="input_button" type="submit" value="Registrar">
                <p><a href="/users/login">¿Ya Tienes Cuenta?</a></p>
            </section>

            <%-include('partials/footer') %>

    </body>

</html>