<footer>
    <section class="contenedor_footer">
        <article class="articulo_footer">
            <i class="fa-solid fa-credit-card fa-xl icono_footer"></i>
            <h3 class="subtitulo_footer">Pagá con tarjeta o en efectivo</h3>
            <p class="descripcion_footer">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago ¡Y siempre es
                seguro!</p>
        </article>
        <article class="articulo_footer">
            <i class="fa-solid fa-gift fa-xl icono_footer"></i>
            <h3 class="subtitulo_footer">Envio gratis desde los $2.500</h3>
            <p class="descripcion_footer">Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles
                de productos. Es un
                beneficio de Mercado Puntos.</p>
        </article>
        <article class="articulo_footer">
            <i class="fa-solid fa-user-shield fa-xl icono_footer"></i>
            <h3 class="subtitulo_footer">Seguridad de principio a fin</h3>
            <p class="descripcion_footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas
                hacer porque estás siempre
                protegid@.</p>
            </article>
    </section>
        <div class="contenedor_footer-copy">
            <p class="copyright">Copyright © 1999-2023 <a href="/" class="copy">MercadoLiebre</a> S.R.L</p>
        </div>
</footer>