<header>
    <div class="container_logo">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre">
        <div class="barraDeBusqueda">
            <input class="input_header" type="text" name="busquedaDeProducto" placeholder="Buscar productos, marcas">
            <div class="container_icono">
                <i class="fas fa-search icono_buscar"></i>
            </div>
        </div>
        <div class="subtitulo">
            <div class="icono_subititulo">
                <i class="fas fa-hand-holding-usd"></i>
            </div>
            <h3 class="header_h3">Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
    </div>

    <div class="container_nav">
        <nav class="header_nav">
            <ul class="ul_header">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="header_nav">
            <ul class="ul_header">
                <li><a href="/users/register">Creá tu cuenta<i class="far fa-id-card icono_login"></i></a></li>
                <li><a href="/users/login">Ingresá<i class="fas fa-sign-in-alt icono_login"></i> </a></li>
                <li><a href="">Mis compras<i class="fas fa-shopping-basket icono_login"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="menu">
        <button class="container_boton">
            <i class="fa-solid fa-bars menu_boton"></i>
        </button>
    </div>
</header>